/node_modules/

SECURITY

notes
sync_readme

src/client/.cache/
src/client/vue/node_modules/
src/client/react_ui/node_modules/
src/client/react_ui/yarn.lock 

src/nodejs/resources/

src/python/__pycache__/
src/python/bin/
src/python/include/
src/python/lib/
src/python/.Python 


